.single-movie{
    width: 90vw;
    margin: 4rem auto;
    display: flex;
    gap: 2rem;
    color: wheat;
}
.movie-image{
    height: 70vh;
}
.movie-description{
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto 60px;
}

#btn{
    background-color: rgba(0,0,0,1);
    color: wheat;
    font-size: 1.5rem;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    padding: 20px;
    margin:0 auto;
    margin-top: 20px;
    text-align: center;
}
#btn:hover{
    background-color: rgba(0,0,0,0.8);
}

.movie-title{
    font-size: 4.5rem;
}

.movie-info{
    font-size: 3rem;
}
.movie-genre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.movie-genre p{
    font-size: 1.6rem;
    color: lightsteelblue;
}

@media only screen and (max-width: 800px) {
    .single-movie {
      flex-direction: column;
    }
    .movie-description{
        margin: 0 auto;
    }
    .movie-title{
        font-size: 2.5rem;
    }
    .movie-info{
        font-size: 1.5rem;
    }
    .movie-genre p{
        font-size: 1.4rem;
    }
  }


