h3{
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}

.movielist-container{
    background-color: #14213d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0.2rem;
    
}

.movies-container{
    max-width: 20rem;
    height: 400px;
    width: 300px;
    margin: 1rem 0;
}

a{
    text-decoration: none;
}
a:link, a:visited {
    color: wheat;
}
a:hover {
    color: lightskyblue;
}
